<% if logged_in?%>
  <h1>Welcome to the VideoMaker application, <%= @user[:name] %></h1>
<br>
<h2>upload the images</h2>
<%= form_with url: user_path(@user), method: :patch do |f| %>
<%= f.file_field :picture, multiple: true %>
<h2>upload the audio</h2>
<%= f.file_field :audio%>
<br>
<h2> Text to be embedded </h2>
<%= f.text_area :text %>
<%= f.submit "Upload"%>
<% end %>
<br>
<br>
<center>
<% files = Dir.entries(Rails.root.join('public', 'images_uploaded', @user[:name])) %>
<% if files.length > 2 %>
<% count_f = 1 %>
<% files.each do |file| %>
<% if file.include? 'video_output'%>
<div>

<%= link_to "Download your video #{count_f}", :controller => :users, :action => :download_file, :filename => "#{Rails.root}/public/images_uploaded/#{@user[:name]}/video_output#{count_f}.mp4"%>
<br>
<%= video_tag "/images_uploaded/#{@user[:name]}/video_output#{count_f}.mp4" , :width => 640, :height => 480, :controls => true %>
<br>
</div>
<% count_f += 1%>
<% end %>
<% end %>
<% end %>
</center>
<br>
<td><%= link_to 'logout', logout_path,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>

<% else %>
  <br>
  <strong>You are not logged in</strong>
  <br>
  <%= link_to 'Login', login_path %>
<% end %>
