<% if logged_in?%>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    	<div class="navbar-header">
		<% link_to "VideoMakers", controller: "users", action: "index", class: "navbar-brand" %>
    	</div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Make Videos", controller: "users", action: "show" %></li>
      <li><%= link_to "My Videos", controller: "users", action: "videos" %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Logout', logout_path,  method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
</nav>

<center>
  <h1>Welcome to the VideoMaker application, <%= @user[:name] %>!</h1>
  <br>
  <h2> Making a new video, are we? </h2>
</center>
<br>
<br>
<center>
<h3>Upload your pictures.. </h2>
<%= form_with url: user_path(@user), method: :patch do |f| %>
<%= f.file_field :picture, multiple: true %>
<h3>Upload the audio</h2>
<%= f.file_field :audio%>
<br>
<h3> Text to be embedded:   start, end: --text--</h2>
<%= f.text_area :text %>
<br>
<%= f.submit "Make My Video"%>
<% end %>
<br>
<br>
</center>

<% else %>
  <br>
  <strong>You are not logged in</strong>
  <br>
  <%= link_to 'Login', login_path %>
<% end %>
